name: PR

on:
    pull_request:
        types: [opened, reopened, synchronize]

jobs:
    soundness:
        name: Soundness
        uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
        with:
            api_breakage_check_container_image: "swift:6.2-noble"
            format_check_container_image: "swift:6.2-noble"
            license_header_check_project_name: "SwiftHTTPServer"

    unit-tests:
        name: Unit tests
        uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
        with:
            linux_5_10_enabled: false
            linux_6_0_enabled: false
            linux_6_1_enabled: false
            # linux_6_1_arguments_override: "-Xswiftc -warnings-as-errors --explicit-target-dependency-import-check error"
            linux_6_2_enabled: false
            # linux_6_1_arguments_override: "-Xswiftc -warnings-as-errors --explicit-target-dependency-import-check error"
            linux_nightly_next_arguments_override: "--explicit-target-dependency-import-check error"
            linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"

    cxx-interop:
        name: Cxx interop
        uses: apple/swift-nio/.github/workflows/cxx_interop.yml@main
        with:
            linux_5_10_enabled: false
            linux_6_0_enabled: false
            linux_6_1_enabled: false
            linux_6_2_enabled: false

    static-sdk:
        name: Static SDK
        uses: apple/swift-nio/.github/workflows/static_sdk.yml@main

    release-builds:
        name: Release builds
        uses: apple/swift-nio/.github/workflows/release_builds.yml@main
        with:
            linux_5_10_enabled: false
            linux_6_0_enabled: false
            linux_6_1_enabled: false
